#div_upload_file label
{
    display: inline-block;
    padding: .5em .75em;
    background-color: #fdfdfd;
    color: #999;
    cursor: pointer;
    border: 1px solid #ebebeb;
    border-radius: .25em;
}

#upload_file
{
    position: 'absolute';
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    margin: -1px;
    overflow: 'hidden';
    clip: rect(0, 0, 0, 0);
    /* clip-path: 'inset(50%)'; */
    /* bottom: 0; */
    /* left: 0; */
    /* white-space: 'nowrap'; */
}